@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}
*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: #111;
}
